<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-fifth hide-on-mobiles">
      <h1>
        <a href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/img/logo-2x.png" width="115" height="115" alt="behaviac Logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit four-fifths hide-on-mobiles">
    <img src="{{site.baseurl}}/img/tencentOpen_logo.png" class="tencentOpen_logo">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>

<script src="{{site.baseurl}}/js/jquery.js"></script>
<script src="{{site.baseurl}}/js/lunr.zh.min.js"></script>
<script src="{{site.baseurl}}/search.js"></script>
<script src="{{site.baseurl}}/js/jquery-tapir.js"></script>
<script>
$(function() {
  $("#query_btn1").click(function()
  {
   
  });
  $("#query_btn").click(function()
  {
    search();
  });
  $("#query_input").keypress(function(e) {
    if(e.which == 13) {
      e.preventDefault();
      search();
    }
    
  });

  $("#query_input").change(function(e) {
    
    if($("#query_input").val()=="")
    {
      $("#query_result").html("");
      return ;
    }
  });
  
})
function search() {
  if($("#query_input").val()=="")
    {
      $("#query_result").html("");
      return ;
    }
  
    var query_str = $("#query_input").val();//get the query string
    var re = new RegExp(query_str,"i"); //construct regular expression
    var result_str="";//save the search result
    for(var doc in docs)
    {
      if(docs[doc].title.search(re)!=-1 || docs[doc].id.search(re)!= -1 || docs[doc].content.search(re)!= -1)
      {
      id=docs[doc].id;
      title=docs[doc].title.substr(0,40);
      content=docs[doc].content.substr(0,40);
      result_str+=
      "<p class=\"line\">"+
          "<span class=\"path\"><a href=\""+id+"\" target=\"_blank\">"+title+"</a></span>"+
          "<span class=\"prompt\">:</span>"+
          "<span class=\"command\">"+content+"</span>"+
      "</p>";
      }
    }
     $("#query_result").html(result_str);
  if(result_str.length <= 0) {
    result_str = 
      "<p class=\"line\">"+
          "<span class=\"path\">Result</span>"+
          "<span class=\"prompt\">:</span>"+
          "<span class=\"command\">Not Found!</span>"+
      "</p>";
    $("#query_result").html(result_str);
  }
}
</script>

<section class="quickstart hide-on-mobiles">
  <div class="grid">
    <div class="unit code">
      <p class="title">Search</p>
      <div class="shell">
        <form class="line">
          <div class="input-append">
            <input class="query_input four-fifths" type="search" name="q" id="query_input" placeholder="Enter keywords..."/>
            <button class="query_btn one-fifths" type="button" id="query_btn">Go!</button>
          </div>
        </form>
        <ul id="query_result" class="four-fifths">
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>